@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Vollkorn:wght@500&display=swap');

body {
    background: #fff;
    font-family: 'Poppins', sans-serif;
}

.navbar {
    width: 100vw;
    background: #fff;
    border: none;
    box-shadow: 1px 2px 3px rgb(120 146 106);
}

.header-title {
    margin: auto;
    color: #648260;
    font-family: 'Vollkorn', Poppins;
}

.burgerBtn {
    background-color: #759e71;
}

/* ---------------------------------------------------
    SIDEBAR
----------------------------------------------------- */

.wrapper {
    display: flex;
    width: 100%;
}

#sidebar {
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: 2;
    background: #fff;
    transition:  0.3s;
    font-family: 'Vollkorn', Poppins;
}

.sidebar-header {
    padding: 15px;
    background: #759e71;
    color: #fff;
}

.components {
    padding: 20px 0;
    border-bottom: 1px solid #759e71;
    list-style: none;
}

#sidebar a {
    padding: 10px 10px 10px 25px;
    display: inline-block;
    color: #759e71;
    text-decoration: none;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

.loglist-register {
    padding: 0;
    list-style: none;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */
.page {
    height: auto;
}

.upload-img{
    overflow: hidden;
}
/* ---------------------------------------------------
    SITE LOGO
----------------------------------------------------- */

.small-logo {
    height: 2rem;
    border-radius: 5px;
    margin: 5px;
}

/* ---------------------------------------------------
    Hover Effects
----------------------------------------------------- */
.hvr-expand {
    transition-duration: 0.3s;
    transition-property: transform;
}

.hvr-expand:hover,
.hvr-expand:focus,
.hvr-expand:active {
    transform: scale(1.1);
}

/* ---------------------------------------------------
    Footer Content
----------------------------------------------------- */
.footer-content{
    text-align: center;
    width: 100vw;
    height: 3rem;
    padding: 10px;
    box-shadow: -1px -2px 3px 0px rgb(120 146 106);
    font-family: monospace;
    background-color: #638660;
    color: #0e1012;
    font-size: 70%;
    margin-top: 2rem;
}

.social-links {
    list-style: none;
    display: inline-flex;
}

.social-links i {
    margin-right: 15px;
}

.fa-facebook-square {
    color: #3b5998
}

.fa-twitter-square {
    color: #00aced
}

.fa-instagram {
    color: purple;
  
}

/* ---------------------------------------------------
    Register - Login pages styling
----------------------------------------------------- */
.register-form {
    display: flex;
    justify-content: center;
    font-family: 'Vollkorn', Poppins;
}

.form-control-lg { 
    border-top: 0px;
    border-left: 0;
    border-right: 0;
    border-radius: 0;
    padding: 0 12px 0;
}  

.form-group input:focus {
    outline-style: none;
    box-shadow: 0 3px 0 rgb(120 146 106);
    border-bottom: none;
    background-color: #dbffc9;
}

.form-group i {
    margin-left: -23px;
}

.submitBtn {
    text-align: center;
    margin-top: 10px;
}

.redirect-link {
    text-align: center;
}

.login-form {
    display: flex;
    justify-content: center;
    font-family: 'Vollkorn', Poppins;
}

.psst {
    height: 6rem;
    padding-top: 5px;
    display: flex;
    justify-content: center;
    margin: auto;
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */
@media ( min-width: 634px) {
    .social-links i {
        font-size: 1.33em;
    }

    .footer-content{
        font-size: 100%;
    }
}

@media (max-width: 991px) {
    #sidebar {
        margin-left: -250px;
    }

    #sidebar.active {
        margin-left: 0;
    }

    .top-menu{
        display: none;
    }
}

@media (min-width: 992px) {
    #sidebar {
        display: none;
    }

    .burgerBtn {
        display: none;
    }

    .small-logo{
        height: 2rem;
    }

    h6 {
        font-size: 1.2rem;
    }

    .header-title {
        margin-left: 0;
    }

    .top-menu {
        display: flex;
        list-style: none;
        margin: 20px 0 0;
        justify-content: center;
    }

    #topnav i {
        padding: 0 11px;
    }
    
    #topnav a {
        padding: 0 10px;
        display: flex;
        color: #759e71;
        text-decoration: none;
        font-family: 'Vollkorn', Poppins;
        font-size: 0.7rem;
    }
    a[data-toggle="collapse"] {
        position: relative;
    }

    .dropdown-toggle::after {
        margin-right: -24px;
    }
}

@media (min-width: 1050px){
    #topnav a {
        font-size: 0.8rem;
    }
}

@media (min-width: 1200px){
    #topnav a {
        font-size: 0.9rem;
    }

    h6 {
        font-size: 1.3rem;
    }
}