@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&family=Vollkorn:wght@500&display=swap');

body {
    background: #fff;
    font-family: 'Poppins', sans-serif;
}

.navbar {
    width: 100vw;
    background: #fff;
    border: none;
    box-shadow: 1px 2px 3px rgb(120 146 106);
}

.header-title {
    margin: auto;
    color: #648260;
    font-family: 'Vollkorn', Poppins;
}

.burgerBtn {
    background-color: #759e71;
}

/* ---------------------------------------------------
    SIDEBAR
----------------------------------------------------- */

.wrapper {
    display: flex;
    width: 100%;
}

#sidebar {
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: 2;
    background: #fff;
    transition:  0.3s;
    font-family: 'Vollkorn', Poppins;
}

.sidebar-header {
    padding: 15px;
    background: #759e71;
    color: #fff;
}

.components {
    padding: 0;
    list-style: none;
}

ul.components li {
    border-bottom: 1px solid #759e71;
}

#sidebar a {
    padding: 10px 10px 10px 25px;
    display: inline-block;
    color: #759e71;
    text-decoration: none;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

/* ---------------------------------------------------
    MUTUAL CONTENT STYLE
----------------------------------------------------- */
.page {
    height: auto;
}

.upload-img{
    overflow: hidden;
}

.alert-success {
    text-align: center;
}

.alert-danger {
    text-align: center;
}
.search-bar {
    text-align: center;
    width: 100%;
    margin: 15px 0;
}

#browse {
    width: -webkit-fill-available;
}

input[type="search"] {
    background: #e2e2e2;
    padding: 6px 15px 5px 19px;
    margin:5px 80px;
    border-radius: 13px;
    border: 2px solid #bbb8b8;
}

input[type="search"]:focus {
    background:#e2e2e2;
    padding:5px 55px 5px;  
    margin:0 30px 0;
    outline: none;
}

input[type="search"] {
    transition: all 0.7s ease-out 0s;
}


.pagination {
    display: flex;
    justify-content: center;
    margin: 0;
    padding-bottom: 10px;
    padding-top: 10px;
}

.short-discrip {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin: 5px 0 0;
    background-color: #dcc6ffc7;
    border-radius: 2px;
}

/* ---------------------------------------------------
    SITE LOGO
----------------------------------------------------- */

.small-logo {
    height: 2rem;
    border-radius: 5px;
    margin: 5px;
}

/* ---------------------------------------------------
    Hover Effects
----------------------------------------------------- */
.hvr-expand {
    transition-duration: 0.3s;
    transition-property: transform;
}

.hvr-expand:hover,
.hvr-expand:focus,
.hvr-expand:active {
    transform: scale(1.1);
}


/* ---------------------------------------------------
    Footer Content
----------------------------------------------------- */
.footer-content{
    text-align: center;
    width: 100vw;
    height: 3rem;
    padding: 10px;
    box-shadow: -1px -2px 3px 0px rgb(120 146 106);
    font-family: monospace;
    background-color: #638660;
    color: #0e1012;
    font-size: 70%;
}

.social-links {
    list-style: none;
    display: inline-flex;
}

.social-links i {
    margin-right: 15px;
}

.fa-facebook-square {
    color: #3b5998
}

.fa-twitter-square {
    color: #00aced
}

.fa-instagram {
    color: purple;
  
}

/* ---------------------------------------------------
    Register - Login pages styling
----------------------------------------------------- */
.register-form {
    display: flex;
    justify-content: center;
    font-family: 'Vollkorn', Poppins;
    margin-bottom: 2rem;
}

.form-control-lg { 
    border-top: 0px;
    border-left: 0;
    border-right: 0;
    border-radius: 0;
    padding: 0 12px 0;
    margin-bottom: 13px ;
}  

.form-group input:focus {
    outline-style: none;
    box-shadow: 0 3px 0 rgb(120 146 106);
    border-bottom: none;
    background-color: #dbffc9;
}

.form-group i {
    margin-left: -23px;
}

.submitBtn {
    text-align: center;
    margin-top: 10px;
}

.redirect-link {
    text-align: center;
}

.login-form {
    display: flex;
    justify-content: center;
    font-family: 'Vollkorn', Poppins;
    margin-bottom: 2rem;
}

.invalid-feedback {
    margin: 0;
}

.psst {
    height: 6rem;
    padding-top: 5px;
    display: flex;
    justify-content: center;
    margin: auto;
}


/* ---------------------------------------------------
    My-reviews page
----------------------------------------------------- */
.user-headtitel {
    font-family: 'Vollkorn', Poppins;
    text-align: center;
    padding-top: 5px;
    text-shadow: 2px 1px 3px rgb(0 0 0 / 50%);
    
}

.redirect_btn {
    width: 30%;
    border-style: none;
    box-shadow: 0px 1px 5px 1px;
}

.link_btn {
    text-align: center;
}

.my-reviews {
    background-color: #e7ffe5;
}


/* ---------------------------------------------------
    Add_reviews Page 
----------------------------------------------------- */
.add-review-bg {
    padding-bottom: 2rem;
    padding-top: 15px;
    background-color: #e7ffe5;
}

.review_slogan {
    text-shadow: 1px 1px 4px rgb(0 0 0 / 50%);
    text-align: center;
    font-family: 'Vollkorn', Poppins;
}


.review-content {
    box-shadow: 0px 1px 3px 2px #00000038;
    border-radius: 3px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #fff;
    font-family: 'Vollkorn', Poppins;
}


.review-content input:focus{
    outline-style: none;
    box-shadow: 0 3px 0 rgb(120 146 106);
    border-bottom: none;
}


.category-field {
    width: 100%;
    height: 2.5rem;
    margin-bottom: 13px;
    border: 3px dashed;
    color: #7f7f7f;
}

#category_name:focus {
    outline-style: none;
    box-shadow: 0px 0px 3px 2px rgb(120 146 106);
    border: none;
}

#product_review {
    border: 3px solid #7f7f7f;
    margin-bottom: 13px;
}

#product_review:focus{
    border: none;
    box-shadow: 0px 0px 3px 2px rgb(120 146 106);
    outline-style: none;
}

.review-input {
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 3px solid rgb(0 0 0 / 0.5);
    border-radius: 0;
    margin-bottom: 13px;
    padding-top: 0;
    padding-bottom: 0;
}

#price {
    width: 8.5rem;
}

#is_vegan {
    box-shadow: none;
}

.custom-vegan-label {
    width: 45px;
}

#rating {
    box-shadow: none;
    list-style: none;
    border-bottom: none;
    display: flex;
    justify-content: space-evenly;
    position: relative;
    z-index: 1;
    padding: 0;
    opacity: 0;
}
#tags {
    margin-bottom: 13px;
    border: 2px solid #7f7f7f;
}

#tags:focus {
    border: none;
    box-shadow: 0px 0px 3px 2px rgb(120 146 106);
    outline-style: none;
}

.file-field {
    width: 98%;
    display: flex;
    justify-content: space-between;
    margin: auto;
    border-radius: 4px;
    border: 2px solid #7f7f7f;
    padding: 0;
}

.file-label {
    background-color: #afafaf;
    padding: 3px;
    border-left: 1px solid grey;
}

#upload_img {
    opacity: 0;
    z-index: 1;
    width: 57%;
}

#custom-field {
    width: 57%;
}

#custom-field:focus {
    box-shadow: none;
    list-style: none;
    border-bottom: none;
}

.add_review_btn {
    box-shadow: 0px 1px 5px rgb(0 0 0 / 60%);
}

#submit:focus{
    box-shadow:  0px 1px 5px rgb(0 0 0 / 60%);
    list-style: none;
    border: none;
}

.cancel_btn {
    box-shadow: 0px 1px 5px rgb(0 0 0 / 60%);
}

#cancel:focus {
   box-shadow: 0px 1px 5px rgb(0 0 0 / 60%);
    list-style: none;
    border: none;
}

.add_form_btns {
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
}

/* Box around slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 30px;
}

/* slider */
.slider {
  position: relative;
  background-color: #ccc;
  transition: .4s;
  border-radius: 25px;
}
/* slider ball */
.ball:before {
  border-radius: 50%;
}

.ball:before {
  position: absolute;
  content: "";
  height: 23px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: #22252a;
  transition: .4s;
}

input:checked+.slider {
  background-color: #759e71;
}

input:focus+.slider {
  box-shadow: 0 0 2px #8ccc86;
}

input:checked+.ball:before {
  transform: translateX(26px);
  background-color: #265831;
}

/* flask form checkbox */
.switch-control{
  width: 60px;
  height: 33px;
  position: absolute;
  opacity: 0;
  z-index: 1;
}

.star-rating {
    position: relative;
    top: -41px;
    font-size: larger;
    display: flex;
    justify-content: space-evenly;
    padding: 3px;
}

#rating label {
    display: none;
}

.rating-fields {
    display: table;
}

.fa-star {
    color: #cccccc;
}
/* ---------------------------------------------------
  Browse reviews 
----------------------------------------------------- */
.browse-headtitle {
    text-align: center;
    font-family: 'Vollkorn', Poppins;
    text-align: center;
    padding-top: 5px;
    text-shadow: 2px 1px 3px rgb(0 0 0 / 50%);
}

.browse-page {
    background-color: #e7ffe5;
}
/* ---------------------------------------------------
    Review cards page 
----------------------------------------------------- */
.card {
    transition: transform .2s;
    border-radius: 3px;
    font-family: 'Vollkorn', Poppins;
}

.card:hover {
    transform: translateY(-.3rem) scale(1);
}

input[type='checkbox'].favorite{
    display: inline-block;
    width: 26px;
    height: 20px;
    position: relative;
    left: 28px;
    opacity: 0;
    z-index: 1;
}

.not_fave{
    color: #ff00bb;
    font-size: x-large;
    z-index: -1;
}

.heart-icon::after {
    content:"\f004";
    font-family: "Font Awesome 5 Free"; 
    color: #a8a8a8;
    font-size: x-large;
    z-index: -1;
    font-weight: 900;
}
.favorite:checked ~ .heart-icon::after {
    content:"\f004";
    font-family: "Font Awesome 5 Free"; 
    color: #ff00bb;
    font-size: x-large;
    z-index: -1;
    font-weight: 900;
}

.fave-content{
    position: relative;
    top: -2px;
    text-align: end;
    margin-right: 13px;
}

.fave-switch {
    position: relative;
    left: 22px;
    top: -3px;
    opacity: 0;
}

.placeholder-img {
    width: 80%;
}

.card-image {
    display: flex;
    justify-content: center;
}
.review-img{
    width: 85%;
}

.card-title {
    text-align: center;
    margin:10px 0 0;
}

.card-info {
    padding: 5px;
}

.price-label {
    margin-bottom: 0;
} 

.vegan {
    color: green;
    padding-left: 5px;
}

.not-vegan {
    padding-left: 5px;
}

.horizontal-line {
    width: 100%;
    position: absolute;
    left: 0;
    margin: 0;
}

.entry_date {
    font-size: 12px;
    text-align: center;
    font-family: monospace;
}

.posted_by {
    text-align: center;
    font-family: monospace;
    font-size: 12px;
}

.category-content {
    display: flex;
    justify-content: space-between;
    padding: 0 5px 0;
    font-size: 14px;
}

.category-name {
    position: relative;
    top: 5px;
    font-family: monospace;
    font-size: 12px;
}

.rate-label {
    margin-bottom: 0;
}

.star-rated {
    color: #ffd01f;
}

.rating-info {
    font-size: 15px;
    margin-top: 5px;
}
/* ---------------------------------------------------
    About Us page
----------------------------------------------------- */
.app-introduction {
    font-family: 'Vollkorn', Poppins;
    background-color: #e7ffe5;
}

.subscribe-content {
    display: flex;
    justify-content: center;
    width: 93%;
    margin: auto;
}

.about_title {
    text-align: center;
    padding-top: 25px;
}

.about-text {
    background-color: white;
    width: 70vw;
    height: 46vh;
    margin: auto;
    box-shadow: 0px 2px 9px 5px #405d3f99;
    overflow: scroll;
    padding: 15px;
}

.subscribe-text {
    text-align: center;
    margin-top: 20px;
}

.email-field {
    width: 70%;
    border: 2px solid #7f7f7f;
    border-radius: 4px;
}

.subscribe-content input:focus{
    outline-style: none;
    border:2px solid #50752e;
}

.subscribe-btn {
    text-align: center;
    padding-bottom: 15px;
    padding-top: 10px;
}

.envelope-icon {
    position: relative;
    top: 5px;
    right: 25px;
}

.creamImg {
    width: 8%;
    position: absolute;
    left: 3%;
    top: 24%;
}

.serumImg {
    width: 8%;
    position: absolute;
    right: 4%;
    top: 30%;
}

.mirrorImg {
    position: absolute;
    width: 8%;
    bottom: 15%;
    left: 4%;
}

.aloeImg {
    position: absolute;
    width: 15%;
    bottom: 17%;
    right: 1%;
}
/* ---------------------------------------------------
    404 fallback Page for invalid url errors
----------------------------------------------------- */
.title404 {
    font-family: 'Vollkorn', Poppins;
    text-align: center;
    color: red;
}

.heading404 {
    font-size: 3rem;
}

.errormessg {
    text-align: center;
    font-family: 'Poppins';
    font-weight: 700;
}
.errorImg-group {
    width: 100%;
    height: 100%;
    margin-top: 10px;
    padding-bottom: 16px;
}

.home_btn {
    padding-bottom: 15px;
    text-align: center;
    font-family: 'Vollkorn', Poppins;
}


.link_home {
   text-decoration: none;
   color: white;
   display: block;
}

.link_home:hover {
    text-decoration: none;
    color: white;
}

@-webkit-keyframes hvr-pulse {
    25% {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }

    75% {
        -webkit-transform: scale(0.9);
        transform: scale(0.9);
    }
}

@keyframes hvr-pulse {
    25% {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }

    75% {
        -webkit-transform: scale(0.9);
        transform: scale(0.9);
    }
}

.hvr-pulse {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-animation-name: hvr-pulse;
    animation-name: hvr-pulse;
    -webkit-animation-duration: 1.5s;
    animation-duration: 1.5s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}

.hvr-pulse:hover {
    background-color: #21a568;
}

.btn-success {
    width: 25%;
}


/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */
@media (max-width: 768px) {
    .redirect_btn {
        font-size: x-small;
    }
}
@media ( min-width: 634px) {
    .social-links i {
        font-size: 1.33em;
    }

    .footer-content{
        font-size: 100%;
    }
}

@media (max-width: 991px) {
    #sidebar {
        margin-left: -250px;
    }

    #sidebar.active {
        margin-left: 0;
    }

    .top-menu{
        display: none;
    }
}

@media (min-width: 768px){
    .subscribe-text{
        margin-top: 45px;
}
    .subscribe-btn {
        padding-bottom: 26%;
        padding-top: 25px;
    }

    .subscribe-content {
        margin-top: 12px;
        padding-top: 11px;
    }

    .email-field {
        width: 46%;
    }
}

@media (min-width: 992px) {
    #sidebar {
        display: none;
    }

    .burgerBtn {
        display: none;
    }

    .small-logo{
        height: 2rem;
    }

    h6 {
        font-size: 1.2rem;
    }

    .header-title {
        margin-left: 0;
    }

    .top-menu {
        display: flex;
        list-style: none;
        margin: 20px 0 0;
        justify-content: center;
    }

    #topnav i {
        padding: 0 11px;
    }
    
    #topnav a {
        padding: 0 10px;
        display: flex;
        color: #759e71;
        text-decoration: none;
        font-family: 'Vollkorn', Poppins;
        font-size: 0.7rem;
    }
    a[data-toggle="collapse"] {
        position: relative;
    }

    .dropdown-toggle::after {
        margin-right: -24px;
    }

    .about-text {
        height: 50vh;
        width: 58vw;
    }

    .subscribe-text {
        margin-top: 47px;
    }

    .subscribe-content {
        margin-top: 4px;
    }

    .email-field {
        width: 40%;
    }

    .subscribe-btn {
        padding-bottom: 41.5px;
    }
}

@media (min-width: 1050px){
    #topnav a {
        font-size: 0.8rem;
    }
}

@media (min-width: 1200px){
    #topnav a {
        font-size: 0.9rem;
    }

    h6 {
        font-size: 1.3rem;
    }
}

@media (min-width: 375px) and (max-width: 413px) {
    .subscribe-btn {
        padding-bottom: 32px;
        padding-top: 20px;
    }

    .subscribe-content {
        padding-top: 15px;
    }

    .subscribe-text {
        margin-top: 30px;
    }
}

@media (min-height: 812px) {
    .subscribe-btn {
        padding-bottom: 29.5%;
    }
}

@media (min-width: 414px) and (max-width: 767px) {
    .subscribe-btn {
        padding-bottom: 47px;
        padding-top: 20px;
    }

    .subscribe-text {
        margin-top: 40px;
    }

    .subscribe-content {
        margin-top: 13px;
    }

    .about_title {
        padding-top: 38px;
        padding-bottom: 10px;
    }
}

@media (min-height:846px) {
    .subscribe-btn {
        padding-bottom: 32%;
    }
}

