@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&family=Vollkorn:wght@500&display=swap');

/* ---------------------------------------------------
    SIDEBAR
----------------------------------------------------- */

#sidebar {
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: 3;
    background: #fff;
    transition:  0.3s;
    font-family: 'Vollkorn', Poppins;
}

.sidebar-header {
    padding: 5px 0px 5px 5px;
    background: #759e71;
    color: #fff;
}

.components {
    padding: 0;
    list-style: none;
}

ul.components li {
    border-bottom: 1px solid #759e71;
}

#sidebar a {
    padding: 10px 10px 10px 25px;
    display: inline-block;
    color: #759e71;
    text-decoration: none;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

.overlay {
    display: none;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);
    /* Appears below sidebar but above page content */
    z-index: 2;
    opacity: 0;
}

.overlay.active {
    display: block;
    opacity: 1;
}

#dismiss-btn {
    position: absolute;
    font-size: larger;
    top: 38px;
    right: 10px;
    cursor: pointer;
}

/* ---------------------------------------------------
    MUTUAL CONTENT STYLE
----------------------------------------------------- */
.page {
    height: auto;
    flex: 1 0 auto;
}

.upload-img{
    overflow: hidden;
}

.alert-success {
    text-align: center;
}

.alert-danger {
    text-align: center;
}
.search-bar {
    text-align: center;
    width: 100%;
    margin: 15px 0;
}

#browse {
    width: -webkit-fill-available;
}

input[type="search"] {
    background: #e2e2e2;
    padding: 6px 15px 5px 19px;
    margin:5px 80px;
    border-radius: 13px;
    border: 2px solid #bbb8b8;
}

input[type="search"]:focus {
    background:#e2e2e2;
    padding:5px 55px 5px;  
    margin:0 30px 0;
    outline: none;
}

input[type="search"] {
    transition: all 0.7s ease-out 0s;
}


.pagination {
    display: flex;
    justify-content: center;
    margin: 0;
    padding-bottom: 10px;
    padding-top: 10px;
}

.short-discrip {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin: 5px 0 0;
    background-color: #dcc6ffc7;
    border-radius: 2px;
    border: #b483ff 1px solid;
}

@-webkit-keyframes hvr-pulse {
    25% {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }

    75% {
        -webkit-transform: scale(0.9);
        transform: scale(0.9);
    }
}

@keyframes hvr-pulse {
    25% {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }

    75% {
        -webkit-transform: scale(0.9);
        transform: scale(0.9);
    }
}

.hvr-pulse:hover, .hvr-pulse:focus {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-animation-name: hvr-pulse;
    animation-name: hvr-pulse;
    -webkit-animation-duration: 1.5s;
    animation-duration: 1.5s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}

html {
    height: 100%;
}

body {
    background: #fff;
    font-family: 'Poppins', sans-serif;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.navbar {
    width: 100vw;
    background: #fff;
    border: none;
    box-shadow: 1px 2px 3px rgb(120 146 106);
    position: fixed;
    z-index: 1;
}

.header-title {
    margin: auto;
    color: #648260;
    font-family: 'Vollkorn', Poppins;
}

.burgerBtn {
    background-color: #759e71;
}

/* ---------------------------------------------------
    SITE LOGO
----------------------------------------------------- */

.small-logo {
    height: 2rem;
    border-radius: 5px;
    margin: 0px 3px;
}

.sidebar-logo {
    height: 3rem;
    border-radius: 5px;
    margin: 0px 3px;
}

/* ---------------------------------------------------
    Hover Effects
----------------------------------------------------- */
.hvr-expand {
    transition-duration: 0.3s;
    transition-property: transform;
}

.hvr-expand:hover,
.hvr-expand:focus,
.hvr-expand:active {
    transform: scale(1.1);
}


/* ---------------------------------------------------
    Footer Content
----------------------------------------------------- */
.footer-content{
    text-align: center;
    width: 100vw;
    height: 3rem;
    padding: 10px;
    box-shadow: -1px -2px 3px 0px rgb(120 146 106);
    font-family: monospace;
    background-color: #638660;
    color: #0e1012;
    font-size: 70%;
}

.social-links {
    list-style: none;
    display: inline-flex;
}

.social-links i {
    margin-right: 15px;
}

.fa-facebook-square {
    color: #3b5998
}

.fa-twitter-square {
    color: #00aced
}

.fa-instagram {
    color: purple;
  
}

footer {
    flex-shrink: 0;
}
/* ---------------------------------------------------
    Register - Login pages styling
----------------------------------------------------- */
.register-form {
    display: flex;
    justify-content: center;
    font-family: 'Vollkorn', Poppins;
    margin-bottom: 2rem;
    height: 100%;
    margin-top: 3rem;
    padding-top: 2rem;
}

.form-control-lg { 
    border-top: 0px;
    border-left: 0;
    border-right: 0;
    border-radius: 0;
    padding: 0 12px 0;
    margin-bottom: 13px ;
}  

.form-group input:focus {
    outline-style: none;
    box-shadow: 0 3px 0 rgb(120 146 106);
    border-bottom: none;
    background-color: #dbffc9;
}

.form-group i {
    margin-left: -23px;
}

.submitBtn {
    text-align: center;
    margin-top: 10px;
}

.redirect-link {
    text-align: center;
}

.login-form {
    display: flex;
    justify-content: center;
    font-family: 'Vollkorn', Poppins;
    margin-bottom: 2rem;
    height: 100%;
    margin-top: 3rem;
    padding-top: 2rem;
}

.invalid-feedback {
    margin: 0;
}

.psst {
    height: 6rem;
    padding-top: 5px;
    display: flex;
    justify-content: center;
    margin: auto;
}


/* ---------------------------------------------------
    My-reviews page
----------------------------------------------------- */
.user-headtitel {
    font-family: 'Vollkorn', Poppins;
    text-align: center;
    padding-top: 5rem;
    text-shadow: 2px 1px 3px rgb(0 0 0 / 50%);
    
}

.redirect_btn {
    width: 30%;
    border-style: none;
    box-shadow: 0px 1px 5px 1px;
}

.link_btn {
    text-align: center;
}

.my-reviews {
    background-color: #e7ffe5;
    height: 100%;
}


/* ---------------------------------------------------
    Add_reviews Page 
----------------------------------------------------- */
.add-review-bg {
    padding-bottom: 2rem;
    padding-top: 15px;
    background-color: #e7ffe5;
    height: 100%;
}

.site-name {
    text-shadow: 1px 1px 4px rgb(0 0 0 / 50%);
    text-align: center;
    font-family: 'Vollkorn', Poppins;
}


.review-content {
    box-shadow: 0px 1px 3px 2px #00000038;
    border-radius: 3px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #fff;
    font-family: 'Vollkorn', Poppins;
    width: 85%;
}


#brand_name:focus{
    background-color: #ffdadfb8;
    border-bottom: 4px solid #f9c6cf;
    box-shadow: none;
}


.category-field {
    width: 100%;
    height: 2.5rem;
    margin-bottom: 13px;
    border: 3px dashed;
    color: #7f7f7f;
}

#category_name:focus {
    outline-style: none;
    box-shadow: 0px 0px 3px 2px rgb(120 146 106);
    border: none;
}

.product-descrip {
    border: 3px solid #7f7f7f;
    margin-bottom: 13px;
}

#product_review:focus{
    border: none;
    box-shadow: 0px 0px 3px 2px rgb(200 152 252);
    background-color: #eddcff;
    outline-style: none;
}

.review-input {
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 3px solid rgb(0 0 0 / 0.5);
    border-radius: 0;
    margin-bottom: 13px;
    padding-top: 0;
    padding-bottom: 0;
}

.input-group {
    margin: 5px auto 0;
    display: flex;
    justify-content: space-evenly;
}
#price {
    width: 8.5rem;
}

#price:focus {
    border-bottom: #ffc107 4px solid;
    box-shadow: none;
}

.price-field {
   width: auto;
}

.custom-vegan-label {
    width: 45px;
}

#rating {
    box-shadow: none;
    list-style: none;
    border-bottom: none;
    display: flex;
    justify-content: space-evenly;
    position: relative;
    z-index: 1;
    padding: 0;
    opacity: 0;
}

/* Tag field  */
.tagField{
    border: 2px solid #7f7f7f;
    margin-bottom: 3px;
    border-radius: 4px;
    padding: 5px;
    overflow-x: scroll;
    width: 73%;
}

#tag-input:focus {
    outline: none;
    border: #3481d4 1px solid;
    box-shadow: 0px 0px 3px 1px #3481d4;
}

.tag-container {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
}

.tag-container .tag {
    height: 30px;
    margin: 2px;
    padding: 5px 6px;
    border-radius: 3px;
    background: #79c1ff;
    display: flex;
    color: #000;
}

.tag i {
    font-size: small;
    margin-left: 5px;
    color: #000;
}

#tagbtn {
    margin: 4px 2px 4px 10px;
    background-color: #79c1ff;
    border-radius: 15px;
    padding: 4px;
    border: #3481d4 1px solid;
    box-shadow: 0px 0px 3px 1px #3481d4;
    width: 54px;
}

.card-tag {
    background: #79c1ff;
    padding: 0px 10px 0px;
    border-radius: 10px;
}
/* Upload img file field */
.file-field {
    width: 98%;
    display: flex;
    justify-content: space-between;
    margin: 13px auto 0;
    border-radius: 4px;
    border: 2px solid #7f7f7f;
    padding: 0;
}

#custom-field {
    width: 100%;
}

#custom-field:focus {
    box-shadow: 0px 0px 4px 1px #828282;
    outline: none;
}

#custom-field::-webkit-file-upload-button {
    visibility: hidden;
    margin: 0;
    padding: 0;
    width: 10px;
  }
  
#custom-field::before {
    content: 'Upload Image';
    display: inline-block;
    padding: 5px 8px;
    cursor: pointer;
    background: #afafaf;
    border-radius: 2px;
    font-family: 'Vollkorn';
  }

  /* Buttons */
.add_review_btn {
    padding: 3px 10px;
    border: none;
    background-color: #759e71;
}

.add_review_btn.hvr-pulse:hover, .hvr-pulse:focus {
    box-shadow: 0 0 2px 2px #80bb7b;
}

#submit:focus{
    box-shadow:  0px 1px 5px rgb(0 0 0 / 60%);
    list-style: none;
    border: none;
}

.cancel_btn {
    padding: 3px 10px;
    border: none;
    background-color: #e85959;
}

.cancel_btn.hvr-pulse:hover, .hvr-pulse:focus {
    box-shadow: 0 0 2px 2px #bf4545;
}

.add_form_btns {
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
}

/* Box around slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 30px;
}

/* slider */
.slider {
  position: relative;
  background-color: #ccc;
  transition: .4s;
  border-radius: 25px;
}
/* slider ball */
.ball:before {
  border-radius: 50%;
}

.ball:before {
  position: absolute;
  content: "";
  height: 23px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: #22252a;
  transition: .4s;
}

input:checked+.slider {
  background-color: #759e71;
}

input:focus+.slider {
    box-shadow: 0 0 2px 2px #80bb7b;
}

input:checked+.ball:before {
  transform: translateX(26px);
  background-color: #265831;
}

/* flask form checkbox */
.switch-control{
  width: 60px;
  height: 33px;
  position: absolute;
  opacity: 0;
  z-index: 1;
}

.custom-switch {
    padding-left: 10%;
}

/* flask form radiofield */
.star-rating {
    position: relative;
    top: -44px;
    font-size: larger;
    display: flex;
    justify-content: space-evenly;
    padding: 3px;
}

#rating label {
    display: none;
}

.rating-content {
    height: 42px;
    width: auto;
}

.fa-star {
    color: #cccccc;
}
/* ---------------------------------------------------
  Browse reviews 
----------------------------------------------------- */
.browse-headtitle {
    text-align: center;
    font-family: 'Vollkorn', Poppins;
    padding-top: 5rem;
    text-shadow: 2px 1px 3px rgb(0 0 0 / 50%);
}

.browse-page {
    background-color: #e7ffe5;
    height: 100%;
}
/* ---------------------------------------------------
    Review cards page 
----------------------------------------------------- */
.card {
    transition: transform .2s;
    border-radius: 3px;
    font-family: 'Vollkorn', Poppins;
}

.card:hover {
    transform: translateY(-.3rem) scale(1);
}

input[type='checkbox'].favorite{
    display: inline-block;
    width: 26px;
    height: 20px;
    position: relative;
    left: 28px;
    opacity: 0;
    z-index: 1;
}

.not_fave{
    color: #ff00bb;
    font-size: x-large;
    z-index: -1;
}

.heart-icon::after {
    content:"\f004";
    font-family: "Font Awesome 5 Free"; 
    color: #a8a8a8;
    font-size: x-large;
    z-index: -1;
    font-weight: 900;
}
.favorite:checked ~ .heart-icon::after {
    content:"\f004";
    font-family: "Font Awesome 5 Free"; 
    color: #ff00bb;
    font-size: x-large;
    z-index: -1;
    font-weight: 900;
}

.fave-content{
    position: relative;
    top: -2px;
    text-align: end;
    margin-right: 13px;
}

.fave-switch {
    position: relative;
    left: 22px;
    top: -3px;
    opacity: 0;
}

.placeholder-img {
    width: 90.4%;
    border-radius: 8px;
}

.card-image {
    display: flex;
    justify-content: center;
}
.review-img{
    width: 85%;
}

.card-title {
    text-align: center;
    margin:10px 0 0;
}

.card-info {
    padding-top: 5px;
}

.price-label {
    margin-bottom: 0;
} 

.is-vegan {
    padding-left: 0;
    padding-right: 0;
}

.vegan {
    color: green;
    padding-left: 5px;
}

.not-vegan {
    padding-left: 5px;
}

.horizontal-line {
    width: 100%;
    position: absolute;
    left: 0;
    margin: 0;
}

.entry_date {
    font-size: 12px;
    text-align: center;
    font-family: monospace;
    padding: 5px;
}

.posted_by {
    text-align: center;
    font-family: monospace;
    font-size: 12px;
    padding: 5px;
}

.category-content {
    display: flex;
    justify-content: space-between;
    padding: 0 5px 0;
    font-size: 14px;
}

.category-name {
    position: relative;
    top: 5px;
    font-family: monospace;
    font-size: 12px;
    left: 23px;
}

.rate-label {
    margin-bottom: 0;
}

.star-rated {
    color: #ffd01f;
}

.rating-info {
    font-size: 15px;
    margin-top: 5px;
}
/* ---------------------------------------------------
    About Us page
----------------------------------------------------- */
.app-introduction {
    font-family: 'Vollkorn', Poppins;
    background-color: #e7ffe5;
    height: 100%;
}

.subscribe-content {
    display: flex;
    justify-content: center;
    width: 93%;
    margin: auto;
}

.about_title {
    text-align: center;
    padding-top: 5rem;
}

.about-text {
    background-color: white;
    width: 70vw;
    height: 46vh;
    margin: auto;
    box-shadow: 0px 2px 9px 5px #405d3f99;
    overflow: scroll;
    padding: 15px;
}

.subscribe-text {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 0;
}

.email-field {
    border: 2px solid #7f7f7f;
    border-radius: 4px;
    padding-right: 14%;
}

.subscribe-content input:focus{
    box-shadow: none;
    border: 2px solid #ffd100;
}

.subscribe {
    text-align: center;
    padding-top: 17px;
    padding-bottom: 21px;
}

.subscribe-btn {
    background-color: #e2df5a;
    box-shadow: 0 0 2px 2px #ffd100;
    border: none;
}

.fa-envelope {
    position: relative;
    left: 86%;
    top: 27%;
}

.subscribe-form {
    width: 70%;
}

.creamImg {
    width: 8%;
    position: absolute;
    left: 3%;
    top: 24%;
}

.serumImg {
    width: 8%;
    position: absolute;
    right: 4%;
    top: 30%;
}

.mirrorImg {
    position: absolute;
    width: 8%;
    bottom: 15%;
    left: 4%;
}

.aloeImg {
    position: absolute;
    width: 15%;
    bottom: 17%;
    right: 1%;
}
/* ---------------------------------------------------
    404 fallback Page for invalid url errors
----------------------------------------------------- */
.title404 {
    font-family: 'Vollkorn', Poppins;
    text-align: center;
    color: red;
}

.heading404 {
    font-size: 3rem;
}

.errormessg {
    text-align: center;
    font-family: 'Poppins';
    font-weight: 700;
}
.errorImg-group {
    width: 100%;
    height: 100%;
    margin-top: 10px;
    padding-bottom: 16px;
}

.home_btn {
    padding-bottom: 15px;
    text-align: center;
    font-family: 'Vollkorn', Poppins;
}


.link_home {
   text-decoration: none;
   color: white;
   display: block;
}

.link_home:hover {
    text-decoration: none;
    color: white;
}

.btn-success.hvr-pulse:hover {
    background-color: #21a568;
}

.btn-success {
    width: 25%;
}

.top-stick-figures {
    padding-top: 4rem;
}

/* ---------------------------------------------------
   HOME PAGE
----------------------------------------------------- */
.slogan {
    animation: moving-slogan 12s infinite linear;
    white-space: nowrap;
    overflow: hidden;
    font-family: 'Poppins';
    padding-top: 4.2rem;
    padding-bottom: 6px;
}

@keyframes moving-slogan {
    from {
        text-indent: -70%;
    }

    to {
        text-indent: 100%;
    }
}

.home-title {
    font-family: 'Vollkorn';
    text-align: center;
}

.hero-gif {
    width: 100%;
}

.home-content {
    height: 100%;
}
/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */
@media (max-width: 768px) {
    .redirect_btn {
        font-size: x-small;
    }
}
@media ( min-width: 634px) {
    .social-links i {
        font-size: 1.33em;
    }

    .footer-content{
        font-size: 100%;
    }
}

@media (max-width: 991px) {
    #sidebar {
        margin-left: -250px;
    }

    #sidebar.active {
        margin-left: 0;
    }

    .top-menu{
        display: none;
    }
}

@media (min-width: 768px){
    .subscribe-text{
        margin-top: 45px;
}

    .subscribe-form {
        width: 55%;
    }

    @keyframes moving-slogan {
        from {
            text-indent: -30%;
        }
    
        to {
            text-indent: 100%;
        }
    }

    .search-form {
        width: 60%;
        margin: auto;
    }
}

@media (min-width: 992px) {
    #sidebar {
        display: none;
    }

    .burgerBtn {
        display: none;
    }

    .small-logo{
        height: 2.5rem;
    }

    h6 {
        font-size: 1.2rem;
    }

    .header-title {
        margin-left: 0;
    }

    .top-menu {
        display: flex;
        list-style: none;
        margin: 20px 0 0;
        justify-content: center;
    }

    #topnav i {
        padding: 0 11px;
    }
    
    #topnav a {
        padding: 0 10px;
        display: flex;
        color: #759e71;
        text-decoration: none;
        font-family: 'Vollkorn', Poppins;
        font-size: 0.7rem;
    }
    a[data-toggle="collapse"] {
        position: relative;
    }

    .dropdown-toggle::after {
        margin-right: -24px;
    }

    .about-text {
        height: 50vh;
        width: 58vw;
    }

    .subscribe-text {
        margin-top: 47px;
    }

    .subscribe-form {
       width: 40%;
    }

    .overlay.active{
        display: none;
    }
}

@media (min-width: 1050px){
    #topnav a {
        font-size: 0.8rem;
    }
}

@media (min-width: 1200px){
    #topnav a {
        font-size: 0.9rem;
    }

    h6 {
        font-size: 1.3rem;
    }

    .about-text {
        margin-top: 2rem;
    }
}

@media (min-width: 375px) and (max-width: 413px) {

    .subscribe-text {
        margin-top: 30px;
    }
}

@media (min-height: 812px) {
    .about_title {
        padding-top: 7rem;
    }
}

@media (min-width: 414px) and (max-width: 767px) {

    .subscribe-text {
        margin-top: 40px;
    }

    .about_title {
        padding-bottom: 10px;
        padding-top: 7rem;
    }
}

