{% extends 'base.html'%} 
{% block content %}
<div class="add-review-bg">
    <h2 class="user-headtitel mb-0">{{username|capitalize }}'s</h2>
    <h3 class="review_slogan">Skincare Confessions</h3>
    <form action="" method="POST">
        {{form.hidden_tag()}}
        <div class="container review-content">
            <!-- skincare category dropdown menu -->
            <div class="row">
                <div class="col input-field">
                    <label for="skincare_categories"> Skincare Category </label>
                    <select id="category_name" name="category_name" class="category-field d-block" required>
                        <option value="" disabled selected>Select an option</option>
                        {% for category in category_name %}
                        <option value="{{category.category_name}}">
                            {{category.category_name}}
                        </option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <!-- brand name stringfield -->
            <div class="row">
                <div class="input-field">
                    {{ form.brand_name.label(class="form-label d-block mb-0")}} {% if form.brand_name.errors %} 
                        {{ form.brand_name(class="form-control is-invalid review-input", placeholder="Provide brand name")}}
                    <div class="invalid-feedback">
                        {% for error in form.brand_name.errors %}
                        <span>
                            {{error}}
                        </span>
                        {% endfor %}
                    </div>
                    {% else %} 
                        {{ form.brand_name(class="form-control review-input", placeholder="Provide brand name")}} {% endif %}
                </div>
            </div>
            <!-- Product review textfield -->
            <div class="row">
                <div class="input-field col-12">
                    {{ form.product_review.label(class="form-label d-block mb-0")}} 
                    {% if form.product_review.errors %} 
                        {{ form.product_review(class="form-control is-invalid review-input", placeholder="Write few sentences about your product")}}
                    <div class="invalid-feedback">
                        {% for error in form.product_review.errors %}
                        <span>
                            {{error}}
                        </span>
                        {% endfor %}
                    </div>
                    {% else %} 
                        {{ form.product_review(class="form-control", placeholder="Write few sentences about your product")}} 
                    {% endif %}
                </div>
            </div>    
                 <!-- Price decimalField -->
            <div class="row">    
                 <div class="col s-12 md-4 input-field">
                    {{ form.price.label(class="form-label d-block mb-0")}} {% if form.price.errors %} 
                    {{ form.price(class="form-control is-invalid review-input", placeholder="Purchase cost")}}
                    <div class="invalid-feedback">
                        {% for error in form.price.errors %}
                        <span>
                            {{error}}
                        </span>
                        {% endfor %}
                    </div>
                    {% else %} {{ form.price(class="form-control review-input", placeholder="Purchase cost")}} {% endif %}
                </div>
                <!-- Boolean field -->
                <div class="col s-12 md-4 custom-control custom-switch input-field">
                    {{ form.is_vegan.label(class="custom-control-label d-block mb-0")}} {% if form.is_vegan.errors %} {{ form.is_vegan(class="custom-control-input custom-switch is-invalid")}}
                    <div class="invalid-feedback">
                        {% for error in form.is_vegan.errors %}
                        <span>
                            {{error}}
                        </span>
                        {% endfor %}
                    </div>
                    {% else %} {{ form.is_vegan(class="custom-control-input custom-switch")}} {% endif %}
                </div>
                <!-- Rating -->
                <div class="col s-12 md-4 input-field">
                    {{ form.rating.label(class="form-label d-block mb-0")}} 
                    {% if form.rating.errors %} 
                    {{form.rating(class=" is-invalid review-input")}}
                    <div class="invalid-feedback">
                        {% for error in form.rating.errors %}
                        <span>
                            {{error}}
                        </span>
                        {% endfor %}
                    </div>
                    {% else %} 
                    {{ form.rating(class="review-input")}} 
                    {% endif %}
                </div>
            </div>
            <!-- Search stringfield -->
            <div class="row">
                <div class="col-12 input-field">
                    {{ form.tags.label(class="form-label d-block mb-0")}} {% if form.tags.errors %} {{ form.tags(class="form-control is-invalid review-input", placeholder="Search tags")}}
                    <div class="invalid-feedback">
                        {% for error in form.tags.errors %}
                        <span>
                            {{error}}
                        </span>
                        {% endfor %}
                    </div>
                    {% else %} {{ form.tags(class="form-control review-input", placeholder="Search tags")}} {% endif %}
                </div>
            </div>
            <div class="add_form_btns">
                    {{ form.submit(class="add_review_btn")}}
                <button type="submit" class="cancel_btn">Cancel</button>
            </div>
        </div>
    </form>
</div>
{% endblock %}
