{% extends 'base.html'%} 
{% block content %}
<div class="add-review-bg">
    <h2 class="user-headtitel mb-0">{{username|capitalize }}'s</h2>
    <h3 class="site-name">Skincare Confessions</h3>
    <form action="" method="POST" enctype="multipart/form-data">
        {{form.hidden_tag()}}
        <div class="container review-content">
            <!-- skincare category dropdown menu -->
            <div class="row">
                <div class="col input-field">
                    <label for="skincare_categories"> Skincare Category </label>
                    <select id="category_name" name="category_name" class="category-field d-block" required>
                        <option value="" disabled selected>Select an option</option>
                        {% for category in category_name %}
                        <option value="{{category.category_name}}">
                            {{category.category_name}}
                        </option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <!-- brand name stringfield -->
            <div class="row">
                <div class="input-field">
                    {{ form.brand_name.label(class="form-label d-block mb-0")}} {% if form.brand_name.errors %} 
                        {{ form.brand_name(class="form-control is-invalid review-input", placeholder="Provide brand name")}}
                    <div class="invalid-feedback">
                        {% for error in form.brand_name.errors %}
                        <span>
                            {{error}}
                        </span>
                        {% endfor %}
                    </div>
                    {% else %} 
                        {{ form.brand_name(class="form-control review-input", placeholder="Provide brand name")}} {% endif %}
                </div>
            </div>
            <!-- Product review textfield -->
            <div class="row">
                <div class="input-field col-12">
                    {{ form.product_review.label(class="form-label d-block mb-0")}} 
                    {% if form.product_review.errors %} 
                        {{ form.product_review(class="form-control is-invalid review-input", placeholder="Write few sentences about your product")}}
                    <div class="invalid-feedback">
                        {% for error in form.product_review.errors %}
                        <span>
                            {{error}}
                        </span>
                        {% endfor %}
                    </div>
                    {% else %} 
                        {{ form.product_review(class="form-control", placeholder="Write few sentences about your product")}} 
                    {% endif %}
                </div>
            </div> 
            <div class="row input-group">  
            <!-- Price decimalField -->
            <div class="col-4 price-field">
                {{ form.price.label(class="form-label d-block mb-0")}} {% if form.price.errors %} 
                {{ form.price(class="form-control is-invalid review-input", placeholder="Purchase cost")}}
                <div class="invalid-feedback">
                    {% for error in form.price.errors %}
                    <span>
                        {{error}}
                    </span>
                    {% endfor %}
                </div>
                {% else %} {{ form.price(class="form-control review-input", placeholder="Purchase cost")}} {% endif %}
            </div>
                <!-- Boolean field -->
                <div class="col-4 custom-switch">
                    {{ form.is_vegan.label(class="custom-vegan-label d-block mb-0")}}
                    {{ form.is_vegan(class="custom-control-input switch-control")}}
                    <span class="slider ball switch"></span>
                </div>
                <!-- Star Rating -->
            <div class="col-4 rating-content">
                {{ form.rating.label(class="rating-label")}} 
                <div class="rating-fields">
                {% if form.rating.errors %} 
                {{form.rating(class=" is-invalid review-input")}}
                <div class="invalid-feedback">
                    {% for error in form.rating.errors %}
                    <span>
                        {{error}}
                    </span>
                    {% endfor %}
                </div>
                {% else %} 
                {{ form.rating(class="review-input")}}
                <div class="star-rating">
                    <i class="fas fa-star" aria-hidden="true" id="rating-0"></i>
                    <i class="fas fa-star" aria-hidden="true" id="rating-1"></i>
                    <i class="fas fa-star" aria-hidden="true" id="rating-2"></i>
                    <i class="fas fa-star" aria-hidden="true" id="rating-3"></i>
                    <i class="fas fa-star" aria-hidden="true" id="rating-4"></i>
                </div>
                {% endif %}
                </div>
            </div>   
            </div>
            <!-- Search stringfield -->
            <div class="row">
                <div class="col-12 input-field">
                    {{ form.tags.label(class="form-label d-block mb-0")}} {% if form.tags.errors %} {{ form.tags(class="form-control is-invalid", placeholder="Tags")}}
                    <div class="invalid-feedback">
                        {% for error in form.tags.errors %}
                        <span>
                            {{error}}
                        </span>
                        {% endfor %}
                    </div>
                    {% else %} {{ form.tags(class="form-control", placeholder="Tags")}} {% endif %}
                </div>
            </div>
            <!-- Upload image filefield -->
            <div class="row">
                 <div class="col-12 file-field">
                    {{ form.upload_img(class="file-control-field", id="custom-field")}}
                </div>
                    {% if form.upload_img.errors %}
                        {% for error in form.upload_img.errors %}
                        <span class="text-danger">
                            {{error}}
                        </span>
                        {% endfor %}
                    {% endif %}
            </div>
            <div class="add_form_btns">
                    {{ form.submit(class="add_review_btn hvr-pulse")}}
                    {{ form.cancel(class="cancel_btn hvr-pulse")}}
            </div>
        </div>
    </form>
</div>
{% endblock %}
