{% extends 'base.html' %}
{% block content %}
    <div class="container-fluid">
        <h2 class="browse-headtitle">All reviews ({{ total }})</h2>
        <!--Search-->
        <div class="search-bar">
            <form action="" method="GET">
                <input type="search" name="browse" id="browse" placeholder="&#128269;  Search reviews...">
            </form>
        </div>
        <!-- Main content card-decks -->
        <div class="card-decks">
            <div class="row">
                {% for entry in entries %}
                    {% include "review_card.html" %} 
                {% endfor %}
            </div>
            <!--Pagination-->
            <ul class="pagination">
                    {% for page in pages %} 
                    {% if page == current_page %}
                    <li class="active"><a>{{ page }}</a></li>
                    {% else %}
                    <li class="optional-page">
                    <a href="{{ url_for('browse_reviews', current_page=page) }}">{{ page }}</a>
                    </li>
                    {% endif %} 
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}