{% extends 'base.html'%} 
{% block content %}
<div class="add-review-bg">
    <h2 class="user-headtitel mb-0">{{session.user|capitalize }}'s</h2>
    <h3 class="site-name">Skincare Confessions</h3>
    <form action="{{url_for('update_review', review_id=individual_review._id)}}" method="POST" enctype="multipart/form-data" id="reviewForm">
        {{form.hidden_tag()}}
        <div class="container review-content">
            <!-- skincare category dropdown menu -->
            <div class="row">
                <div class="col input-field">
                    <label for="category_name"> Skincare Category </label>
                    <select id="category_name" name="category_name" class="category-field d-block" required>
                        <option value="" disabled>Select an option</option>
                        {% for category in category_name %}
                        {% if category.category_name == individual_review.category_name %}
                        <option value="{{category.category_name}}" selected>
                            {{category.category_name}}
                        </option>
                        {% else %}
                        <option value="{{category.category_name}}">
                            {{category.category_name}}
                        </option>
                        {% endif %}
                        {% endfor %}
                    </select>
                </div>
            </div>
            <!-- brand name stringfield -->
            <div class="row">
                <div class="input-field">
                    {{ form.brand_name.label(class="form-label d-block mb-0")}} {% if form.brand_name.errors %} 
                        {{ form.brand_name(class="form-control is-invalid review-input", placeholder="Provide brand name")}}
                    <div class="invalid-feedback">
                        {% for error in form.brand_name.errors %}
                        <span>
                            {{error}}
                        </span>
                        {% endfor %}
                    </div>
                    {% else %} 
                        {{ form.brand_name(class="form-control review-input", placeholder="Provide brand name")}} 
                    {% endif %}
                </div>
            </div>
            <!-- Product review textfield -->
            <div class="row">
                <div class="input-field col-12">
                    {{ form.product_review.label(class="form-label d-block mb-0")}} 
                    {% if form.product_review.errors %} 
                        {{ form.product_review(class="form-control is-invalid product-descrip", placeholder="Write few sentences about your product")}}
                    <div class="invalid-feedback">
                        {% for error in form.product_review.errors %}
                        <span>
                            {{error}}
                        </span>
                        {% endfor %}
                    </div>
                    {% else %} 
                        {{ form.product_review(class="form-control product-descrip", placeholder="Write few sentences about your product")}} 
                    {% endif %}
                </div>
            </div>
            <div class="row input-group">
                <!-- Price decimalField -->
                <div class="col-4 price-field">
                    {{ form.price.label(class="form-label d-block mb-0")}} 
                    {% if form.price.errors %} 
                        {{ form.price(class="form-control is-invalid review-input", placeholder="Purchase cost")}}
                    <div class="invalid-feedback">
                        {% for error in form.price.errors %}
                        <span>
                            {{error}}
                        </span>
                        {% endfor %}
                    </div>
                    {% else %} 
                        {{ form.price(class="form-control review-input", placeholder="Purchase cost")}} 
                    {% endif %}
                </div>
                <!-- Boolean field -->
                <div class="col-4 custom-switch">
                    {{ form.is_vegan.label(class="custom-vegan-label d-block mb-0")}}
                    {% if individual_review.is_vegan == "true" %} 
                        {{ form.is_vegan(class="custom-control-input switch-control, value="" ")}}
                    {% else %}
                        {{form.is_vegan(class="custom-control-input switch-control")}}
                    {% endif %}
                    <span class="slider ball switch"></span>
                </div>
                <!-- Star Rating -->
                <div class="col-4 rating-content">
                    {{ form.rating.label(class="rating-label")}} 
                    {% if form.rating.errors %} 
                        {{form.rating(class="form-control is-invalid m-0")}}
                    <div class="invalid-feedback">
                        {% for error in form.rating.errors %}
                        <span>
                            {{error}}
                        </span>
                        {% endfor %}
                    </div>
                    {% else %}
                        {{ form.rating}}
                    {% endif %}
                    <div class="star-rating">
                        <i class="fas fa-star" aria-hidden="true" id="rating-0"></i>
                        <i class="fas fa-star" aria-hidden="true" id="rating-1"></i>
                        <i class="fas fa-star" aria-hidden="true" id="rating-2"></i>
                        <i class="fas fa-star" aria-hidden="true" id="rating-3"></i>
                        <i class="fas fa-star" aria-hidden="true" id="rating-4"></i>
                    </div>
                </div>
            </div>
            <!-- Tags stringfield -->
            <div class="row">
                <div class="col-12">
                    {{ form.tags.label(class="form-label d-block mb-0 mt-1")}}
                    <div class="tag-container">
                        <input type="text" id="tag-input" class="tagField" placeholder="Press done after typing" />
                        <button type="submit" class="hvr-grow" id="tagbtn">Done</button>
                        <small class="text-muted col-12">Separate your tag words using comma sign</small>
                        {% if form.tags.errors %}
                            {{ form.tags(class="form-control is-invalid", id="hiddenInput", type="hidden")}}
                        <div class="invalid-feedback">
                            {% for error in form.tags.errors %}
                            <span>
                                {{error}}
                            </span>
                            {% endfor %}
                        </div>
                        {% else %}
                            {{ form.tags(class="form-control", id="hiddenInput", type="hidden")}} 
                        {% endif %}
                    </div>
                </div>
            </div>
            <!-- Upload image filefield -->
            <div class="row">
                <div class="col-12 file-field">
                    {{ form.upload_img(class="file-control-field", id="custom-field")}}
                </div>
                {% if form.upload_img.errors %}
                {% for error in form.upload_img.errors %}
                <span class="text-danger">
                    {{error}}
                </span>
                {% endfor %}
                {% endif %}
            </div>
            <div class="add_form_btns">
                {{ form.submit(class="add_review_btn hvr-pulse")}}
                <a href="{{ url_for('add_reviews') }}" class="cancel_btn hvr-pulse">Cancel</a>
            </div>
        </div>
    </form>
</div>
{% endblock %}
{% block script %}
<script src="{{url_for('static', filename='js/add_review.js')}}"></script>
{% endblock %}
