{% extends 'base.html' %}
{% block content %}
<div class="container-fluid my-reviews">
    <h2 class="user-headtitel">{{username|capitalize }}'s Reviews ({{ my_total_reviews }})</h2>
    <div class="link_btn">
        <button type="button" class="btn-outline redirect_btn"><a href="{{url_for('add_reviews')}}">ADD NEW REVIEW</a></button>
    </div>
    <div class="search-bar">
        <form action="" method="GET">
            <input type="search" name="browse" id="browse" placeholder="&#128269;  Search reviews...">
        </form>
    </div>
     <!-- Main content personal card-deck -->
    <div class="container-fluid">
        <div class="card-deck row">
            {% for entry in author %}
                {% include "review_card.html" %} 
            {% endfor %} 
        </div>
        <!--Pagination-->
        <ul class="pagination">
            {% for page in pages %} 
                {% if page == current_page %}
                    <li class="active"><a>{{ page }}</a></li>
                {% else %}
                    <li class="optional-page">
                    <a href="{{ url_for('my_reviews', current_page=page) }}">{{ page }}</a>
                </li>
                {% endif %} 
            {% endfor %}
        </ul> 
    </div>
</div>
{% endblock %}
{% block script %}
<!--  Ajax call function for favorite functionallity
Add on change event listener to all checkbox input card forms with class favorite.-->
<script type=text/javascript>
    $('.favorite').on("change", function(){
        /* Get the id value that should be sent to backend server 
        $(this) referring to the specific class which changed */
        let review_id = $(this).attr("id");
        let is_fave =$(this).prop('checked')
            /* send URL,data of review_id & checkbox checked/unchecked state to server using ajax call post method */
            $.post(`/update_favorites/${review_id}/${is_fave}`)
            .done();
        });
</script> 
{% endblock %}