<!--Review card-->
<div class="col s-12 md-4 lg-3">
    <div class="card">
        <h5 class="card-title">{{entry.brand_name|capitalize}}</h5>
         <!-- Category name-->
         <div class="category-content">
            <p class="mb-0 category-name">Category: {{entry.category_name|capitalize}}</p>
        <!-- Checkbox y/n favorite display (only for user in session)-->
        {% if session.user %}
            {% if _id in entry.favourited_by %}
                <div class="fave-content">
                    <span><i class="fas fa-heart fave"></i></span>
                </div>
            {% else %}
                <div class="fave-content">
                     <span><i class="far fa-heart not_fave"></i></span>
                </div>
            {% endif %}
        {% else %}
        <!-- User not in session icon display -->
            <div class="fave-content">
                <span><i class="far fa-heart not_fave"></i></span>
            </div>
        {% endif %}
        </div>
        <div class="card-image">
                <!-- Review image if assigned by user otherwise default placeholder put in place-->
            {% if entry.upload_img %}
                <img src="{{entry.upload_img}}" class="review-img" alt="Review image" />
            {% else %}
                <img src="{{url_for('static', filename='img/review-placeholder.png')}}" class="placeholder-img" alt="No image,placeholder" />
            {% endif %}    
        </div>
        <div class="container">
            <div class="row">
                <!-- Product review short discription -->
            <div class="col 12 review-preview">
                <p class="short-discrip">"{{entry.product_review}}"
                </p>
            </div>
            </div>
            <div class="row">
                <!-- Rating -->
                <div class="col 12 card-info">
                    {{ form.rating.label(class="form-label")}}
                    <span>{{entry.rating}}</span>
                </div>
            </div>
            <div class="row">
                <!-- Price -->
                <div class="col 6 card-info">
                    {{ form.price.label(class="form-label")}}
                    <span>{{entry.price}}</span>
                </div>
                <!-- Is-vegan booleanfield-->
                <div class="col 6 vegan-content">
                    {% if entry.is_vegan %}
                        <label for="is-vegan">Vegan</label>
                        <span>
                            <i class="fas fa-leaf vegan"></i>
                        </span>
                    {% else %}
                    <label for="is-vegan">Not Vegan</label>
                    <span>
                        <i class="fas fa-leaf not-vegan"></i>
                    </span>
                    {% endif %}
                </div>
            </div>
            <!-- Search tags --> 
            <div class="row">
                <div class="col 12 card-info">
                    {{ form.tags.label(class="form-label m-0")}}
                    <p class="m-0">{{entry.tags}}</p>
                </div>
            </div>
            <div class="row">
                <!-- Posted by -->
                <div class="col 12 card-info posted_by">Posted by:
                    <span>{{entry.added_by}}</span>
                </div>
            </div> 
            <hr class="horizontal-line">
            <div class="row">
                <!-- Post date -->
                <div class="col 12 entry_date card-info">Created on:
                    <span>{{entry.created_on}}</span>
                </div>
            </div>
        </div>
    </div>
</div>
